
.btn{
    min-height: 50px;
    min-width: 50px;

    border: 1px solid black;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
}

.btn:nth-child(3n){
    border-right: 3px solid black;
}

.btn:nth-child(9n){
    border-right: 1px solid black;
}

.btn:nth-child(n+19):nth-child(-n+27){
    border-bottom: 3px solid black;
}

.btn:nth-child(n+46):nth-child(-n+54){
    border-bottom: 3px solid black;
}