.counter{
    display: flex;
    flex-direction: column;

    min-height: 500px;
    background-color: #2b3862;
}

.btn_container{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 150px;
}