

.checkbox{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid black;
    text-align: center;
    background-color: white;
    box-shadow: 1px 1px 6px 0;
}

.activeCheckbox{
    background-color: #0000ff;
    color: white;

    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 0;
    text-align: center;
    box-shadow: 1px 1px 6px 0;
}
