.btn{
    border: 0;
    border-radius: 10px;

    width: 100px;

    margin-left: 30px;
    font-weight: bold;
    font-size: 18px;
    color: black;
    background-color: #38add7;
}

.btn:hover{
    background-color: #42faf4;
}

.btn[disabled]{
    background-color: #7fa4a3;
}