header{
    display: flex;
    flex-display: row;
    justify-content: space-around;
    align-items: center;
    
    height: 100px;
    background-color: #10004f;
    color: white;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 75dvh;
}