#about-me-form{
    font-family: "Calibri Light";
}

#form-table{
    border-spacing: 20px;
}

input, textarea{
    background: #f0f0f0;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#free-textarea{
    height: 100px;
    width: 300px;
}

td{
    vertical-align: top;
}


.error-message{
    color: red;
    font-size: 0.8em;
}