
#main-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.main-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-link{
    font-size: 20px;
    color: darkblue;
    text-decoration: none;

    margin-right: 220px;

    align-self: flex-start;
}


.role{
    font-size: 24px;
    font-weight: lighter;

    margin-bottom: 50px;
}

.items-container{
    place-items: center;

    & > table{
        box-shadow: 0 0 5px 1px black;


        & tr{
            height: 50px;
            padding: 20px;
        }

        & td{
            place-items: center;
            text-align: center;
            vertical-align: center;

            font-size: 20px;
            font-family: "Inter";
        }

        & tr:first-child{
            background: #000042;
            color: white;
        }

        & tr:nth-child(2n) {
            background-color: lightgray;
        }

        & td:first-child{
            width: 100px;
        }

        & td:nth-child(2){
            width: 400px;
        }

        & td:nth-child(3){
            width: 200px;
        }
    }
}


.actions-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}